<h1>This is a personal space of <%= @user.username %></h1>
<p>here will be different cool things and settings </p>
<% if @cont_room %>
  <%= link_to "Continue a game", room_path(@cont_room)%>
<% else %>
  <%= link_to "Start a game", rooms_path, method: :post %>
<% end %>
