<h1>About</h1>

<div>
  A mod 2 project at Flatiron School that is designed to improve immersive experience and finally connect lonely souls.
</div>

<div>
  here are two people who made this project
</div>
