<h1>About</h1>

<h2>
  A mod 2 project at Flatiron School that finally connects lonely souls.
</h2>

<h3>
  Here are two people who made this project
</h3>

<div class="container">
  <div id="card-1">
		<div class="card-about">
      <div class="card-header">
        <img class="photo" src="https://avatars3.githubusercontent.com/u/44968477?s=400&v=4" alt="Alisher Zakir" style="width:50%">
        <h1 class="card-title">Alisher Zakir</h1>
      </div>
      <div class="card-body">
          <p class="card-content">What is 9 till 5? I code 24/7!</p>
      </div>
      <div class="card-footer">
        <a href="https://github.com/AlisherZakir" title="GitHub" class="card-button">GitHub</a>
      </div>
    </div>
  </div>

  <div id="card-2">
		<div class="card-about">
		  <div class="card-header">
        <img class="photo" src="https://avatars0.githubusercontent.com/u/45695723?s=400&v=4" alt="Vlad Georgiev" style="width:50%">
			  <h1 class="card-title">Vlad Georgiev</h1>
		  </div>
		<div class="card-body">
			<p class="card-content">Let me code that!</p>
		</div>
    <div class="card-footer">
	    <a href="https://github.com/VladTGeorgiev" title="GitHub" class="card-button">GitHub</a>
		</div>
  </div>
</div>

