<div class="title">
  <h1>
    <span>W</span>
    <span>e</span>
    <span>l</span>
    <span>l</span>
    <span>c</span>
    <span>o</span>
    <span>m</span>
    <span>e</span>
    <span>!</span>
  </h1>
</div>

<div>
  <h1><%= link_to "Sign Up", new_user_path %></h1>
  <br>
  <h1><%= link_to "Log In", login_form_path %></h1>
</div>
