<h1 id="firstHeading" class="firstHeading" lang="en">Tic-tac-toe</h1>

<div id="bodyContent" class="mw-body-content">
  <div id="siteSub" class="noprint">From Wikipedia, the free encyclopedia</div>
  <div id="contentSub"></div>




<p><b>Tic-tac-toe</b> (<a href="/wiki/American_English" title="American English">American English</a>), <b>noughts and crosses</b> (<a href="/wiki/British_English" title="British English">British English</a>), or <b>Xs and Os</b> is a <a href="/wiki/Paper-and-pencil_game" title="Paper-and-pencil game">paper-and-pencil game</a> for two players, <i>X</i> and <i>O</i>, who take turns marking the spaces in a 3&#215;3 grid. The player who succeeds in placing three of their marks in a horizontal, vertical, or diagonal row wins the game.
</p><p>The following example game is won by the first player, X:
</p>
<div class="center"><div class="floatnone"><a href="/wiki/File:Tic-tac-toe-game-1.svg" class="image" title="Game of Tic-tac-toe, won by X"><img alt="Game of Tic-tac-toe, won by X" src="//upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Tic-tac-toe-game-1.svg/479px-Tic-tac-toe-game-1.svg.png" decoding="async" width="479" height="56" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Tic-tac-toe-game-1.svg/719px-Tic-tac-toe-game-1.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Tic-tac-toe-game-1.svg/958px-Tic-tac-toe-game-1.svg.png 2x" data-file-width="479" data-file-height="56" /></a></div></div>
<p>Players soon discover that the <a href="/wiki/Best_response" title="Best response">best play</a> from both parties leads to a <a href="/wiki/Draw_(tie)" class="mw-redirect" title="Draw (tie)">draw</a>. Hence, tic-tac-toe is most often played by young children, who often have not yet discovered the optimal strategy.
</p><p>Because of the simplicity of tic-tac-toe, it is often used as a <a href="/wiki/Pedagogical" class="mw-redirect" title="Pedagogical">pedagogical</a> tool for teaching the concepts of good <a href="/wiki/Sportsmanship" title="Sportsmanship">sportsmanship</a> and the branch of <a href="/wiki/Artificial_intelligence" title="Artificial intelligence">artificial intelligence</a> that deals with the searching of <a href="/wiki/Game_tree" title="Game tree">game trees</a>. It is straightforward to write a <a href="/wiki/Computer_program" title="Computer program">computer program</a> to play tic-tac-toe perfectly or to enumerate the 765 essentially different positions (the <a href="/wiki/State_space_complexity" class="mw-redirect" title="State space complexity">state space complexity</a>) or the 26,830 possible games <a href="/wiki/Up_to" title="Up to">up to</a> rotations and reflections (the <a href="/wiki/Game_tree_complexity" class="mw-redirect" title="Game tree complexity">game tree complexity</a>) on this space.
</p><p>The game can be generalized to an <a href="/wiki/M,n,k-game" title="M,n,k-game">m,n,k-game</a> in which two players alternate placing stones of their own color on an <i>m</i>&#215;<i>n</i> board, with the goal of getting <i>k</i> of their own color in a row. Tic-tac-toe is the (3,3,3)-game. <a href="/wiki/Harary%27s_generalized_tic-tac-toe" title="Harary&#39;s generalized tic-tac-toe">Harary's generalized tic-tac-toe</a> is an even broader generalization of tic-tac-toe. It can also be generalized as a <a href="/wiki/Nd_game" title="Nd game">n<sup>d</sup> game</a>. Tic-tac-toe is the game where n equals 3 and d equals 2. If played properly, the game will end in a draw, making tic-tac-toe a <a href="/wiki/Futile_game" title="Futile game">futile game</a>.
</p>

<h2><span class="mw-headline" id="History">History</span></h2>
<p>Games played on three-in-a-row boards can be traced back to <a href="/wiki/Ancient_Egypt" title="Ancient Egypt">ancient Egypt</a>,
   where such game boards have been found on roofing tiles dating from around 1300 BCE.
</p><p>An early variation of tic-tac-toe was played in the <a href="/wiki/Roman_Empire" title="Roman Empire">Roman Empire</a>, around the first century BC. It was called <i>terni lapilli</i> (<i>three pebbles at a time</i>) and instead of having any number of pieces, each player only had three, thus they had to move them around to empty spaces to keep playing. The game's grid markings have been found chalked all over Rome. Another closely related ancient game is <a href="/wiki/Three_Men%27s_Morris" class="mw-redirect" title="Three Men&#39;s Morris">Three Men's Morris</a> which is also played on a simple grid and requires three pieces in a row to finish, and <a href="/wiki/Picaria" title="Picaria">Picaria</a>, a game of the <a href="/wiki/Puebloans" title="Puebloans">Puebloans</a>.
</p><p>The different names of the game are more recent. The first print reference to "noughts and crosses" (<a href="/wiki/Nought" class="mw-redirect" title="Nought">nought</a> being an alternative word for zero), the British name, appeared in 1858, in an issue of <i><a href="/wiki/Notes_and_Queries" title="Notes and Queries">Notes and Queries</a></i>. The first print reference to a game called "tick-tack-toe" occurred in 1884, but referred to "a children's game played on a slate, consisting in trying with the eyes shut to bring the pencil down on one of the numbers of a set, the number hit being scored". "Tic-tac-toe" may also derive from "tick-tack", the name of an old version of <a href="/wiki/Backgammon" title="Backgammon">backgammon</a> first described in 1558. The US renaming of "noughts and crosses" as "tic-tac-toe" occurred in the 20th century.
</p><p>In 1952, <i><a href="/wiki/OXO" title="OXO">OXO</a></i> (or <i>Noughts and Crosses</i>), developed by British computer scientist <a href="/wiki/Sandy_Douglas" title="Sandy Douglas">Alexander S. Douglas</a> for the <a href="/wiki/EDSAC" title="EDSAC">EDSAC</a> computer at the <a href="/wiki/University_of_Cambridge" title="University of Cambridge">University of Cambridge</a>, became one of the first known <a href="/wiki/Video_game" title="Video game">video games</a>. The computer player could play perfect games of tic-tac-toe against a human opponent.
</p><p>In 1975, tic-tac-toe was also used by <a href="/wiki/Massachusetts_Institute_of_Technology" title="Massachusetts Institute of Technology">MIT</a> students to demonstrate the computational power of <a href="/wiki/Tinkertoy" title="Tinkertoy">Tinkertoy</a> elements. The Tinkertoy computer, made out of (almost) only Tinkertoys, is able to play tic-tac-toe perfectly. It is currently on display at the <a href="/wiki/Museum_of_Science,_Boston" class="mw-redirect" title="Museum of Science, Boston">Museum of Science, Boston</a>.
</p>
<h2><span class="mw-headline" id="Combinatorics">Combinatorics</span></h2>
<p>When considering only the state of the board, and after taking into account board symmetries (i.e. rotations and reflections), there are only 138 terminal board positions. A <a href="/wiki/Combinatorics" title="Combinatorics">combinatorics</a> study of the game shows that when "X" makes the first move every time, the game is won as follows:
</p>
<ul><li>91 distinct positions are won by (X)</li>
<li>44 distinct positions are won by (O)</li>
<li>3 distinct positions are drawn (often called a "cat's game")</li></ul>
<h2><span class="mw-headline" id="Strategy">Strategy</span></h2>
<div class="thumb tright"><div class="thumbinner" style="width:222px;"><a href="/wiki/File:Tictactoe-X.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/d/de/Tictactoe-X.svg/220px-Tictactoe-X.svg.png" decoding="async" width="220" height="220" class="thumbimage" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/d/de/Tictactoe-X.svg/330px-Tictactoe-X.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/d/de/Tictactoe-X.svg/440px-Tictactoe-X.svg.png 2x" data-file-width="512" data-file-height="512" /></a>  <div class="thumbcaption"><div class="magnify"><a href="/wiki/File:Tictactoe-X.svg" class="internal" title="Enlarge"></a></div>Optimal strategy for player X if starting in a corner. In each grid, the shaded red X denotes the optimal move, and the location of O's next move gives the next subgrid to examine. Note that only two sequences of moves by O (both starting with center, top-right, left-mid) lead to a draw, with the remaining sequences leading to wins from X.</div></div></div>
<div class="thumb tright"><div class="thumbinner" style="width:222px;"><a href="/wiki/File:Tictactoe-O.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Tictactoe-O.svg/220px-Tictactoe-O.svg.png" decoding="async" width="220" height="220" class="thumbimage" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Tictactoe-O.svg/330px-Tictactoe-O.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Tictactoe-O.svg/440px-Tictactoe-O.svg.png 2x" data-file-width="512" data-file-height="512" /></a>  <div class="thumbcaption"><div class="magnify"><a href="/wiki/File:Tictactoe-O.svg" class="internal" title="Enlarge"></a></div>Optimal strategy for player O. Player O can only force a win or draw by playing in the centre first.</div></div></div>
<p>A player can play a <a href="/wiki/Solved_game#Perfect_play" title="Solved game">perfect game</a> of tic-tac-toe (to win or at least, draw) if each time it is his turn to play, he chooses the first available move from the following list, as used in Newell and Simon's 1972 tic-tac-toe program.
</p>
<ol><li><b>Win</b>: If the player has two in a row, they can place a third to get three in a row.</li>
<li><b>Block</b>: If the opponent has two in a row, the player must play the third themselves to block the opponent.</li>
<li><b>Fork</b>: Create an opportunity where the player has two ways to win (two non-blocked lines of 2).</li>
<li><b>Blocking an opponent's fork</b>: If there is only one possible fork for the opponent, the player should block it. Otherwise, the player should block any forks in any way that simultaneously allows them to create two in a row. Otherwise, the player should create a two in a row to force the opponent into defending, as long as it doesn't result in them creating a fork. For example, if "X" has two opposite corners and "O" has the center, "O" must not play a corner in order to win. (Playing a corner in this scenario creates a fork for "X" to win.)</li>
<li><b>Center</b>: A player marks the center. (If it is the first move of the game, playing on a corner gives the second player more opportunities to make a mistake and may therefore be the better choice; however, it makes no difference between perfect players.)</li>
<li><b>Opposite corner</b>: If the opponent is in the corner, the player plays the opposite corner.</li>
<li><b>Empty corner</b>: The player plays in a corner square.</li>
<li><b>Empty side</b>: The player plays in a middle square on any of the 4 sides.</li></ol>
<p>The first player, who shall be designated "X", has 3 possible positions to mark during the first turn. Superficially, it might seem that there are 9 possible positions, corresponding to the 9 squares in the grid. However, by rotating the board, we will find that in the first turn, every corner mark is strategically equivalent to every other corner mark. The same is true of every edge (side middle) mark. For strategy purposes, there are therefore only three possible first marks: corner, edge, or center. Player X can win or force a draw from any of these starting marks; however, playing the corner gives the opponent the smallest choice of squares which must be played to avoid losing. This might suggest that the corner is the best opening move for X, however another study shows that if the players are not perfect, an opening move in the center is best for X.
</p><p>The second player, who shall be designated "O", must respond to X's opening mark in such a way as to avoid the forced win.  Player O must always respond to a corner opening with a center mark, and to a center opening with a corner mark.  An edge opening must be answered either with a center mark, a corner mark next to the X, or an edge mark opposite the X.  Any other responses will allow X to force the win.  Once the opening is completed, O's task is to follow the above list of priorities in order to force the draw, or else to gain a win if X makes a weak play.
</p><p>More detailedly, to guarantee a draw, O should adopt the following strategies:
</p>
<ul><li>If X plays corner opening move, O should take center, and then an edge, forcing X to block in the next move. This will stop any forks from happening. When both X and O are perfect players and X chooses to start by marking a corner, O takes the center, and X takes the corner opposite the original. In that case, O is free to choose any edge as its second move. However, if X is not a perfect player and has played a corner and then an edge, O should not play the opposite edge as its second move, because then X is not forced to block in the next move and can fork.</li>
<li>If X plays edge opening move, O should take center or one of the corners adjacent to X, and then follow the above list of priorities, mainly paying attention to block forks.</li>
<li>If X plays center opening move, O should take corner, and then follow the above list of priorities, mainly paying attention to block forks.</li></ul>
<p>When X plays corner first, and O is not a perfect player, the following may happen:
</p>
<ul><li>If O responds with a center mark (best move for them), a perfect X player will take the corner opposite the original. Then O should play an edge. However, if O plays a corner as its second move, a perfect X player will mark the remaining corner, blocking O's 3-in-a-row and making their own fork.</li>
<li>If O responds with a corner mark, X is guaranteed to win, by simply taking any of the other two corners and then the last, a fork. (since when X takes the third corner, O can only take the position between the two X's. Then X can take the only remaining corner to win)</li>
<li>If O responds with an edge mark, X is guaranteed to win, by taking center, then O can only take the corner opposite the corner which X plays first. Finally, X can take a corner to create a fork and then X will win on the next move.</li></ul>
<h3><span class="mw-headline" id="Further_details">Further details</span></h3>
<p>Consider a board with the nine positions numbered as follows:
</p>
<table class="wikitable">
<tbody><tr>
<td><big>1</big>
</td>
<td><big>2</big>
</td>
<td><big>3</big>
</td></tr>
<tr>
<td><big>4</big>
</td>
<td><big>5</big>
</td>
<td><big>6</big>
</td></tr>
<tr>
<td><big>7</big>
</td>
<td><big>8</big>
</td>
<td><big>9</big>
</td></tr></tbody></table>
<p>When X plays 1 as their opening move, then O should take 5. Then X takes 9 (in this situation, O should not take 3 or 7, O should take 2, 4, 6 or 8):
</p>
<ul><li>X1 → O5 → X9 → O2 → X8 → O7 → X3 → O6 → X4, this game will be a draw.</li></ul>
<p>or 6 (in this situation, O should not take 4 or 7, O should take 2, 3, 8 or 9. In fact, taking 9 is the best move, since a non-perfect player X may take 4, then O can take 7 to win).
</p>
<ul><li>X1 → O5 → X6 → O2 → X8, then O should not take 3, or X can take 7 to win, and O should not take 4, or X can take 9 to win, O should take 7 or 9.
<ul><li>X1 → O5 → X6 → O2 → X8 → O7 → X3 → O9 → X4, this game will be a draw.</li>
<li>X1 → O5 → X6 → O2 → X8 → O9 → X4 (7) → O7 (4) → X3, this game will be a draw.</li></ul></li>
<li>X1 → O5 → X6 → O3 → X7 → O4 → X8 (9) → O9 (8) → X2, this game will be a draw.</li>
<li>X1 → O5 → X6 → O8 → X2 → O3 → X7 → O4 → X9, this game will be a draw.</li>
<li>X1 → O5 → X6 → O9, then X should not take 4, or O can take 7 to win, X should take 2, 3, 7 or 8.
<ul><li>X1 → O5 → X6 → O9 → X2 → O3 → X7 → O4 → X8, this game will be a draw.</li>
<li>X1 → O5 → X6 → O9 → X3 → O2 → X8 → O4 (7) → X7 (4), this game will be a draw.</li>
<li>X1 → O5 → X6 → O9 → X7 → O4 → X2 (3) → O3 (2) → X8, this game will be a draw.</li>
<li>X1 → O5 → X6 → O9 → X8 → O2 (3, 4, 7) → X4/7 (4/7, 2/3, 2/3) → O7/4 (7/4, 3/2, 3/2) → X3 (2, 7, 4), this game will be a draw.</li></ul></li></ul>
<p>In both of these situations (X takes 9 or 6 as second move), X has a <span class="sfrac nowrap" style="display:inline-block; vertical-align:-0.5em; font-size:85%; text-align:center;"><span style="display:block; line-height:1em; margin:0 0.1em;">1</span><span class="visualhide">/</span><span style="display:block; line-height:1em; margin:0 0.1em; border-top:1px solid;">3</span></span> property to win.
</p><p>If X is not a perfect player, X may take 2 or 3 as second move. Then this game will be a draw, X cannot win.
</p>
<ul><li>X1 → O5 → X2 → O3 → X7 → O4 → X6 → O8 (9) → X9 (8), this game will be a draw.</li>
<li>X1 → O5 → X3 → O2 → X8 → O4 (6) → X6 (4) → O9 (7) → X7 (9), this game will be a draw.</li></ul>
<p>If X plays 1 opening move, and O is not a perfect player, the following may happen:
</p><p>Although O takes the only good position (5) as first move, but O takes a bad position as second move:
</p>
<ul><li>X1 → O5 → X9 → O3 → X7, then X can take 4 or 8 to win.</li>
<li>X1 → O5 → X6 → O4 → X3, then X can take 2 or 9 to win.</li>
<li>X1 → O5 → X6 → O7 → X3, then X can take 2 or 9 to win.</li></ul>
<p>Although O takes good positions as the first two moves, but O takes a bad position as third move:
</p>
<ul><li>X1 → O5 → X6 → O2 → X8 → O3 → X7, then X can take 4 or 9 to win.</li>
<li>X1 → O5 → X6 → O2 → X8 → O4 → X9, then X can take 3 or 7 to win.</li></ul>
<p>O takes a bad position as first move (except of 5, all other positions are bad):
</p>
<ul><li>X1 → O3 → X7 → O4 → X9, then X can take 5 or 8 to win.</li>
<li>X1 → O9 → X3 → O2 → X7, then X can take 4 or 5 to win.</li>
<li>X1 → O2 → X5 → O9 → X7, then X can take 3 or 4 to win.</li>
<li>X1 → O6 → X5 → O9 → X3, then X can take 2 or 7 to win.</li></ul>
<h2><span class="mw-headline" id="Variations">Variations</span></h2>
<div role="note" class="hatnote navigation-not-searchable">Main article: <a href="/wiki/Tic-tac-toe_variants" title="Tic-tac-toe variants">Tic-tac-toe variants</a></div><p>Many <a href="/wiki/Board_game" title="Board game">board games</a> share the element of trying to be the first to get <i>n</i>-in-a-row, including <a href="/wiki/Three_Men%27s_Morris" class="mw-redirect" title="Three Men&#39;s Morris">Three Men's Morris</a>, <a href="/wiki/Nine_Men%27s_Morris" class="mw-redirect" title="Nine Men&#39;s Morris">Nine Men's Morris</a>, <a href="/wiki/Pente" title="Pente">pente</a>, <a href="/wiki/Gomoku" title="Gomoku">gomoku</a>, <a href="/wiki/Qubic" class="mw-redirect" title="Qubic">Qubic</a>, <a href="/wiki/Connect_Four" title="Connect Four">Connect Four</a>, <a href="/wiki/Quarto_(board_game)" title="Quarto (board game)">Quarto</a>, <a href="/wiki/Gobblet" title="Gobblet">Gobblet</a>, <a href="/wiki/Order_and_Chaos" title="Order and Chaos">Order and Chaos</a>, <a href="/wiki/Toss_Across" title="Toss Across">Toss Across</a>, and <a href="/wiki/Mojo_(board_game)" title="Mojo (board game)">Mojo</a>. Tic-tac-toe is  an instance of an <a href="/wiki/M,n,k-game" title="M,n,k-game">m,n,k-game</a>, where two players alternate taking turns on an <i>m</i>&#xd7;<i>n</i> board until one of them gets <i>k</i> in a row. <a href="/wiki/Harary%27s_generalized_tic-tac-toe" title="Harary&#39;s generalized tic-tac-toe">Harary's generalized tic-tac-toe</a> is an even broader generalization.
</p><p>Other variations of tic-tac-toe include:
</p>
<ul><li>3-dimensional tic-tac-toe on a 3&#xd7;3&#xd7;3 board. In this game, the first player has an easy win by playing in the centre if 2 people are playing.</li></ul>
<p>One can play on a board of 4x4 squares, winning in several ways. Winning can include: 4 in a straight line, 4 in a diagonal line, 4 in a diamond, or 4 to make a square.
</p><p>Another variant, <a href="/wiki/Qubic" class="mw-redirect" title="Qubic">Qubic</a>, is played on a 4&#xd7;4&#xd7;4 board; it was <a href="/wiki/Solved_board_games" class="mw-redirect" title="Solved board games">solved</a> by <a href="/wiki/Oren_Patashnik" title="Oren Patashnik">Oren Patashnik</a> in 1980 (the first player can force a win). Higher dimensional variations are also possible.
</p>
<ul><li>In <a href="/wiki/Mis%C3%A8re" title="Misère">misère</a> tic-tac-toe, the player wins if the opponent gets <i>n</i> in a row. A 3&#xd7;3 game is a draw. More generally, the first player can draw or win on any board (of any dimension) whose side length is odd, by playing first in the central cell and then mirroring the opponent's moves.</li></ul>
<div class="floatright"><a href="/wiki/File:Magicsquareexample.svg" class="image"><img alt="Magicsquareexample.svg" src="//upload.wikimedia.org/wikipedia/commons/thumb/e/e4/Magicsquareexample.svg/100px-Magicsquareexample.svg.png" decoding="async" width="100" height="78" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/e/e4/Magicsquareexample.svg/150px-Magicsquareexample.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/e/e4/Magicsquareexample.svg/200px-Magicsquareexample.svg.png 2x" data-file-width="180" data-file-height="140" /></a></div>
<ul><li>In "wild" tic-tac-toe, players can choose to place either X or O on each move.</li>
<li><a href="/wiki/Number_Scrabble" title="Number Scrabble">Number Scrabble</a> or Pick15 is <a href="/wiki/Isomorphic" class="mw-redirect" title="Isomorphic">isomorphic</a> to tic-tac-toe but on the surface appears completely different. Two players in turn say a number between one and nine. A particular number may not be repeated. The game is won by the player who has said three numbers whose sum is 15. If all the numbers are used and no one gets three numbers that add up to 15 then the game is a draw. Plotting these numbers on a 3×3 <a href="/wiki/Magic_square" title="Magic square">magic square</a> shows that the game exactly corresponds with tic-tac-toe, since three numbers will be arranged in a straight line if and only if they total 15.</li></ul>
<table class="infobox" border="0" cellpadding="0" cellspacing="0" style="background:white;font:100% monospace;text-align:center;">
<tbody><tr>
<td rowspan="3">
</td>
<th><span style="color: Red;">e</span><span style="color:aqua">a</span><span style="color:teal">t</span>
</th>
<th><span style="color:blue">b</span><span style="color: Red;">ee</span>
</th>
<th><span style="color:lime">l</span><span style="color: Red;">e</span><span style="color:silver">ss</span>
</th>
<th>→<span style="color: Red;">e</span>
</th></tr>
<tr>
<th><span style="color:aqua">a</span><span style="color:fuchsia">i</span>r
</th>
<th><span style="color:blue">b</span><span style="color:fuchsia">i</span><span style="color:teal">t</span><span style="color:silver">s</span>
</th>
<th><span style="color:lime">l</span><span style="color:fuchsia">i</span>p
</th>
<th>→<span style="color:fuchsia">i</span>
</th></tr>
<tr>
<th><span style="color:silver">s</span><span style="color:orange">o</span>d<span style="color:aqua">a</span>
</th>
<th><span style="color:blue">b</span><span style="color:orange">oo</span>k
</th>
<th><span style="color:lime">l</span><span style="color:orange">o</span><span style="color:teal">t</span>
</th>
<th>→<span style="color:orange">o</span>
</th></tr>
<tr>
<th>↙
<p><span style="color:silver">s</span>&#160;&#160;
</p>
</th>
<th>↓
<p><span style="color:aqua">a</span>
</p>
</th>
<th>↓
<p><span style="color:blue">b</span>
</p>
</th>
<th>↓
<p><span style="color:lime">l</span>
</p>
</th>
<th>↘
<p>&#160;&#160;<span style="color:teal">t</span>
</p>
</th></tr></tbody></table>
<ul><li>Another isomorphic game uses a list of nine carefully chosen words, for instance "eat", "bee", "less", "air", "bits", "lip", "soda", "book", and "lot". Each player picks one word in turn and to win, a player must select three words with the same letter. The words may be plotted on a tic-tac-toe grid in such a way that a three-in-a-row line wins.</li>
<li>Numerical Tic Tac Toe is a variation invented by the mathematician <a href="/wiki/Ronald_Graham" title="Ronald Graham">Ronald Graham</a>. The numbers 1 to 9 are used in this game. The first player plays with the odd numbers, the second player plays with the even numbers. All numbers can be used only once. The player who puts down 15 points in a line wins (sum of 3 numbers).</li>
<li>In the 1970s, there was a two player game made by <a href="/wiki/Tri-ang" class="mw-redirect" title="Tri-ang">Tri-ang</a> Toys &amp; Games called <i><b>Check Lines</b></i>, in which the board consisted of eleven holes arranged in a <a href="/wiki/Geometrical" class="mw-redirect" title="Geometrical">geometrical</a> pattern of twelve straight lines each containing three of the holes. Each player had exactly five tokens and played in turn placing one token in any of the holes. The winner was the first player whose tokens were arranged in <b>two lines of three</b> (which by definition were <a href="/wiki/Line-line_intersection" class="mw-redirect" title="Line-line intersection">intersecting</a> lines).  If neither player had won by the tenth turn, subsequent turns consisted of moving one of one's own tokens to the remaining empty hole, with the constraint that this move could only be from an adjacent hole.</li>
<li><a href="/wiki/Quantum_tic_tac_toe" class="mw-redirect" title="Quantum tic tac toe">Quantum tic tac toe</a> allows players to place a quantum superposition of numbers on the board, i.e. the players' moves are "superpositions" of plays in the original classical game. This variation was invented by Allan Goff of Novatia Labs."</li></ul>
<h2><span class="mw-headline" id="English_names">English names</span></h2>
<table class="box-Unreferenced_section plainlinks metadata ambox ambox-content ambox-Unreferenced" role="presentation"><tbody><tr><td class="mbox-image"><div style="width:52px"><a href="/wiki/File:Question_book-new.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/en/thumb/9/99/Question_book-new.svg/50px-Question_book-new.svg.png" decoding="async" width="50" height="39" srcset="//upload.wikimedia.org/wikipedia/en/thumb/9/99/Question_book-new.svg/75px-Question_book-new.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/9/99/Question_book-new.svg/100px-Question_book-new.svg.png 2x" data-file-width="512" data-file-height="399" /></a></div></td><td class="mbox-text"><div class="mbox-text-span">This section <b>does not <a href="/wiki/Wikipedia:Citing_sources" title="Wikipedia:Citing sources">cite</a> any <a href="/wiki/Wikipedia:Verifiability" title="Wikipedia:Verifiability">sources</a></b>.<span class="hide-when-compact"> Please help <a class="external text" href="//en.wikipedia.org/w/index.php?title=Tic-tac-toe&amp;action=edit">improve this section</a> by <a href="/wiki/Help:Introduction_to_referencing_with_Wiki_Markup/1" title="Help:Introduction to referencing with Wiki Markup/1">adding citations to reliable sources</a>. Unsourced material may be challenged and <a href="/wiki/Wikipedia:Verifiability#Burden_of_evidence" title="Wikipedia:Verifiability">removed</a>.</span>  <small class="date-container"><i>(<span class="date">August 2018</span>)</i></small><small class="hide-when-compact"><i> (<a href="/wiki/Help:Maintenance_template_removal" title="Help:Maintenance template removal">Learn how and when to remove this template message</a>)</i></small></div></td></tr></tbody></table>
<p>The game has a number of English names.
</p>
<ul><li>Tick-tack-toe, tic-tac-toe, tick-tat-toe, or tit-tat-toe (<a href="/wiki/United_States" title="United States">United States</a>, <a href="/wiki/Canada" title="Canada">Canada</a>)</li>
<li>Noughts and crosses or naughts and crosses (<a href="/wiki/United_Kingdom" title="United Kingdom">United Kingdom</a>, <a href="/wiki/Republic_of_Ireland" title="Republic of Ireland">Republic of Ireland</a>, <a href="/wiki/Australia" title="Australia">Australia</a>, <a href="/wiki/New_Zealand" title="New Zealand">New Zealand</a>, <a href="/wiki/South_Africa" title="South Africa">South Africa</a>, <a href="/wiki/Zimbabwe" title="Zimbabwe">Zimbabwe</a>, <a href="/wiki/India" title="India">India</a>)</li>
<li>Exy-ozys, xsie-osies (verbal name only) (<a href="/wiki/Northern_Ireland" title="Northern Ireland">Northern Ireland</a>)</li>
<li>Xs and Os (Republic of Ireland, Zimbabwe)</li></ul>
<p>Sometimes, the games tic-tac-toe (where players keep adding "pieces") and <a href="/wiki/Three_Men%27s_Morris" class="mw-redirect" title="Three Men&#39;s Morris">Three Men's Morris</a> (where pieces start to move after a certain number have been placed) are confused with each other.
</p>
<h2><span class="mw-headline" id="In_popular_culture">In popular culture</span></h2>
<table class="box-More_citations_needed_section plainlinks metadata ambox ambox-content ambox-Refimprove" role="presentation"><tbody><tr><td class="mbox-image"><div style="width:52px"><a href="/wiki/File:Question_book-new.svg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/en/thumb/9/99/Question_book-new.svg/50px-Question_book-new.svg.png" decoding="async" width="50" height="39" srcset="//upload.wikimedia.org/wikipedia/en/thumb/9/99/Question_book-new.svg/75px-Question_book-new.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/9/99/Question_book-new.svg/100px-Question_book-new.svg.png 2x" data-file-width="512" data-file-height="399" /></a></div></td><td class="mbox-text"><div class="mbox-text-span">This section <b>needs additional citations for <a href="/wiki/Wikipedia:Verifiability" title="Wikipedia:Verifiability">verification</a></b>.<span class="hide-when-compact"> Please help <a class="external text" href="//en.wikipedia.org/w/index.php?title=Tic-tac-toe&amp;action=edit">improve this article</a> by <a href="/wiki/Help:Introduction_to_referencing_with_Wiki_Markup/1" title="Help:Introduction to referencing with Wiki Markup/1">adding citations to reliable sources</a>. Unsourced material may be challenged and removed.<br /><small><span class="plainlinks"><i>Find sources:</i>&#160;<a rel="nofollow" class="external text" href="//www.google.com/search?as_eq=wikipedia&amp;q=%22Tic-tac-toe%22">"Tic-tac-toe"</a>&#160;–&#160;<a rel="nofollow" class="external text" href="//www.google.com/search?tbm=nws&amp;q=%22Tic-tac-toe%22+-wikipedia">news</a>&#160;<b>·</b> <a rel="nofollow" class="external text" href="//www.google.com/search?&amp;q=%22Tic-tac-toe%22+site:news.google.com/newspapers&amp;source=newspapers">newspapers</a>&#160;<b>·</b> <a rel="nofollow" class="external text" href="//www.google.com/search?tbs=bks:1&amp;q=%22Tic-tac-toe%22+-wikipedia">books</a>&#160;<b>·</b> <a rel="nofollow" class="external text" href="//scholar.google.com/scholar?q=%22Tic-tac-toe%22">scholar</a>&#160;<b>·</b> <a rel="nofollow" class="external text" href="https://www.jstor.org/action/doBasicSearch?Query=%22Tic-tac-toe%22&amp;acc=on&amp;wc=on">JSTOR</a></span></small></span>  <small class="date-container"><i>(<span class="date">May 2017</span>)</i></small><small class="hide-when-compact"><i> (<a href="/wiki/Help:Maintenance_template_removal" title="Help:Maintenance template removal">Learn how and when to remove this template message</a>)</i></small></div></td></tr></tbody></table>
<ul><li><a href="/wiki/Wordsworth" class="mw-redirect" title="Wordsworth">Wordsworth</a> alludes to tic-tac-toe in his <i><a href="/wiki/The_Prelude" title="The Prelude">The Prelude</a></i> (1799).</li>
<li>In the movie <i><a href="/wiki/WarGames" title="WarGames">WarGames</a></i>, a computer learns through a tic-tac-toe analogy that <a href="/wiki/Nuclear_war" class="mw-redirect" title="Nuclear war">nuclear war</a> is unwinnable.</li>
<li>The BBC's <a href="/wiki/Test_Card_F" title="Test Card F">Test Card F</a> image includes a picture of a game. In the updated version, <a href="/wiki/Test_Card_J" class="mw-redirect" title="Test Card J">Test Card J</a>, the game's X indicates the exact center of the screen.</li>
<li><a href="/wiki/George_Cooper_(poet)" title="George Cooper (poet)">George Cooper</a> wrote the words and <a href="/wiki/John_Rogers_Thomas" title="John Rogers Thomas">John Rogers Thomas</a> wrote the music for a song <a rel="nofollow" class="external text" href="https://www.loc.gov/item/sm1876.02044/">"Tit, Tac, Toe"</a> in 1876.</li>
<li>The <a href="/wiki/Adventure_game" title="Adventure game">adventure game</a> <i><a href="/wiki/Sam_%26_Max_Save_the_World" title="Sam &amp; Max Save the World">Sam &amp; Max Save the World</a></i> features an arcade version called <i>Tic-Tac-Doom</i>, but its <a href="/wiki/Artificial_intelligence" title="Artificial intelligence">artificial intelligence</a> is intentionally poor. Rather than beating the game, the player must lose it in order to progress.</li>
<li>Episode 452 of <i><a href="/wiki/This_American_Life" title="This American Life">This American Life</a></i> recounts the true story of a <a href="/wiki/Criminal_defense_lawyer" title="Criminal defense lawyer">legal defense team</a> that sought to overturn the <a href="/wiki/Florida" title="Florida">state of Florida's</a> decision to <a href="/wiki/Capital_punishment_in_the_United_States" title="Capital punishment in the United States">execute</a> a mentally ill <a href="/wiki/Murder" title="Murder">murderer</a> by eliciting a tic-tac-toe playing <a href="/wiki/Chicken" title="Chicken">chicken</a> as <a href="/wiki/Evidence_(law)" title="Evidence (law)">evidence</a>. Arcade games with tic-tac-toe-playing chickens were popular in the mid 1970s; the animals were trained using <a href="/wiki/Operant_conditioning" title="Operant conditioning">operant conditioning</a>.</li>
<li>In the 1957 film version of <i><a href="/wiki/Twelve_Angry_Men" title="Twelve Angry Men">Twelve Angry Men</a></i> there is a small scene were two jurors are playing the game in order to pass the time.</li>
<li>In the <a href="/wiki/The_Three_Stooges" title="The Three Stooges">Three Stooges</a> short <i><a href="/wiki/Disorder_in_the_Court" title="Disorder in the Court">Disorder in the Court</a></i>, <a href="/wiki/Moe_Howard" title="Moe Howard">Moe</a> and <a href="/wiki/Larry_Fine" title="Larry Fine">Larry</a> are seen playing tic-tac-toe in a couple of different scenes. (One with <a href="/wiki/Curly_Howard" title="Curly Howard">Curly</a> playing <a href="/wiki/Knucklebones" title="Knucklebones">jacks</a> over it.)</li>
<li><a href="/wiki/Elle_King" title="Elle King">Elle King</a>'s debut solo single "<a href="/wiki/Ex%27s_%26_Oh%27s" title="Ex&#39;s &amp; Oh&#39;s">Ex's &amp; Oh's</a>" references another name for Tic-Tac-Toe, with a punning allusion to her <i>exes</i>; and how accumulating former partners who never seem to leave her alone is a pointless, unwinnable exercise.</li></ul>
<p>Various <a href="/wiki/Game_show" title="Game show">game shows</a> have been based on tic-tac-toe and its variants:
</p>
<ul><li>On <i><a href="/wiki/Hollywood_Squares" title="Hollywood Squares">Hollywood Squares</a></i>, nine celebrities filled the cells of the tic-tac-toe grid; players put symbols on the board by correctly agreeing or disagreeing with a celebrity's answer to a question. Variations of the show include <i><a href="/wiki/Storybook_Squares" title="Storybook Squares">Storybook Squares</a></i> and <i><a href="/wiki/Hip_Hop_Squares" title="Hip Hop Squares">Hip Hop Squares</a></i>. The British version was <i><a href="/wiki/Celebrity_Squares" title="Celebrity Squares">Celebrity Squares</a></i>. Australia had various versions under the names of Celebrity Squares, <a href="/wiki/Personality_Squares" title="Personality Squares">Personality Squares</a> &amp; <a href="/wiki/All-Star_Squares" title="All-Star Squares">All Star Squares</a>.</li>
<li>In <i><a href="/wiki/Tic-Tac-Dough" title="Tic-Tac-Dough">Tic-Tac-Dough</a></i>, players put symbols up on the board by answering questions in various categories, which shuffle after each player's turn.</li>
<li>In <i><a href="/wiki/Beat_the_Teacher" title="Beat the Teacher">Beat the Teacher</a></i>, contestants answer questions to win a turn to influence a tic-tac-toe grid.</li>
<li>On <i><a href="/wiki/The_Price_Is_Right" title="The Price Is Right">The Price Is Right</a></i>, several national variants feature a <a href="/wiki/Pricing_game" class="mw-redirect" title="Pricing game">pricing game</a> called "Secret X", in which players must guess prices of two small prizes to win Xs (in addition to one free X) to place on a blank board. They must place the X's in position to guess the location of the titular "secret X" hidden in the center column of the board and form a tic-tac-toe line across or diagonally (no vertical lines allowed). There are no Os in this variant of the game.</li>
<li>On <i><a href="/wiki/Minute_to_Win_It" title="Minute to Win It">Minute to Win It</a></i>, the game Ping Tac Toe has one contestant playing the game with nine water-filled glasses and white and orange ping-pong balls, trying to get three in a row of either color. He must alternate colors after each successful landing and must be careful not to block himself.</li></ul>
