<h1>Tic Tac Toe</h1>
<%= link_to "go back", home_path%>


<div class="game">
  <div class="board">
    <input type="checkbox" id="box-1">
    <input type="checkbox" id="box-2">
    <input type="checkbox" id="box-3">
    <br>
    <input type="checkbox" id="box-4">
    <input type="checkbox" id="box-5">
    <input type="checkbox" id="box-6">
    <br>
    <input type="checkbox" id="box-7">
    <input type="checkbox" id="box-8">
    <input type="checkbox" id="box-9">
  </div>
</div>
