<h1>Who would you like to choose as your opponent?</h1>

<%= form_for Room.new do |f| %>
  <%= f.label :opponent%>
  <%= f.collection_select :opponent, User.order(:username), :id, :username%>
  <%= f.submit "D-d-d-duel!"%>
<% end %>
