body {
  background-image: url(man_back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 13%;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70vh;
}

.card_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


#sign-up-title {

}

#sign_up_button input, #login_button input {
  text-shadow: 0 0 20px #ff005b;
  border: none;
  background: none;
  color: #cdcdcd;
  text-decoration: none;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  &:hover
  {
    color: #ff005b;
  }
}

#signup_card, #login_card {
  position: absolute;
}


#signup_text, #login_text {
line-height: 4rem;
/* width: 100px; */
/* height: 100px; */
.b-slide {
  background-color: black;
  opacity: .65;
  position: absolute;
  height: 80%;
  width: 100%;
  z-index: -1;
}
table {
  opacity: 1;
  text-shadow: 0 0 20px #4214fd;
  font-size: 2rem;
}
input {
  opacity: 1;
  font-size: 2rem;
  }
}
