img {
  object-fit: cover;
  height: 100%;
  object-position: 25% 15%;
  width: 100%;
}

#sign-up-title {

}

#sign_up_button input, #login_button input {
  text-shadow: 0 0 20px #ff005b;
  border: none;
  background: none;
  color: #cdcdcd;
  text-decoration: none;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  &:hover
  {
    color: #ff005b;
  }
}




 #image_wrapper {
   object-fit: cover;
width: 100%;
height: 100%;
 }
#signup_card, #login_card {
  height: 90vh;
}

#signup_text, #login_text {
  position: absolute;
position: absolute;
top: 55%;
left: 44%;
margin-top: -50px;
margin-left: -50px;
/* width: 100px; */
/* height: 100px; */
opacity: .85;
text-shadow: 0 0 20px #4214fd;
}
