// Place all the styles related to the Tictactoe controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input[type="checkbox"]:not([disabled="disabled"]):hover {
  &:after {
    content: "⑊";
    color: #00b3ff;
    text-shadow: 0 0 5px #00b3ff,
                 0 0 20px #00b3ff;
  }
}

:checked:after {
   content: "⑊";
   color: #00b3ff;
}
