// Place all the styles related to the Tictactoe controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.game {
  display: flex;
  justify-content: center;
}

.board {
  position: absolute;
  margin: 0;
}

input[type="checkbox"] {
  display: block;
  float: left;
  margin: 0;
  background-color: none;
  height: 200px;
  width: 200px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline: 2px solid black;
}

:checked, input[type="checkbox"]:hover {
  &:after {
    line-height: 1.9;
    font-size: 110px;
    text-align: center;
    width: 200px;
    height: 200px;
    display: block;
    background-color: none;
  }
}

.player0:checked {
  &:after {
    content: "♥";
    color: red;
  }
}

.player1:checked {
  &:after {
    content: "⑊";
    color: blue;
  }
}



body {
  text-align: center;
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
  color: #333;
}
