// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url("https://fonts.googleapis.com/css?family=Bad+Script");

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #000;
  font-family: "Bad Script", cursive;
}

.title{
  font-size: 50px;
  margin-right: 70px;
  color: #111
}

.title span {
  display: table-cell;
  margin: 0;
  padding: 0;
  -webkit-animation: glow 4.5s linear infinite;
  transition-delay: 2s;
}
.title span:nth-child(1)
{
  animation-delay: 0s;
}
.title span:nth-child(2)
{
  animation-delay: 0.5s;
}
.title span:nth-child(3)
{
  animation-delay: 1s;
}
.title span:nth-child(4)
{
  animation-delay: 1.5s;
}
.title span:nth-child(5)
{
  animation-delay: 2s;
}
.title span:nth-child(6)
{
  animation-delay: 2.5s;
}
.title span:nth-child(7)
{
  animation-delay: 3s;
}
.title span:nth-child(8)
{
  animation-delay: 3.5s;
}
.title span:nth-child(9)
{
  animation-delay: 4s;
}

@-webkit-keyframes glow
{
  0%, 100%
  {
    color: #fff;
    filter: blur(2px);
    text-shadow: 0 0 10px #00b3ff,
                0 0 20px #00b3ff,
                0 0 40px #00b3ff,
                0 0 80px #00b3ff,
                0 0 120px #00b3ff,
                0 0 200px #00b3ff,
                0 0 300px #00b3ff,
                0 0 400px #00b3ff;
  }
  5%, 95%
  {
    color: #111;
    filter: blur(0px);
    text-shadow: none;
  }
}
