// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$num_of_letters: 8;
$glow_time: .5; // in seconds
$iteration_delay: 0;


@mixin letters {
  @for $i from 1 through $num_of_letters {
    &:nth-child(#{$i}) {
      animation-delay: #{($i - 1) * $glow_time}s;
    }
  }
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #000;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

.title{
  font-size: 50px;
  margin-right: 70px;
  color: #111
}

.title span {
  display: table-cell;
  margin: 0;
  padding: 0;
  -webkit-animation: glow #{$iteration_delay + $glow_time * $num_of_letters }s linear infinite;
}
.title span
{
  @include letters
}


@-webkit-keyframes glow
{
  0%, 100%
  {
    color: #fff;
    filter: blur(2px);
    text-shadow: 0 0 10px #00b3ff,
                0 0 20px #00b3ff,
                0 0 40px #00b3ff,
                0 0 80px #00b3ff,
                0 0 120px #00b3ff,
                0 0 200px #00b3ff,
                0 0 300px #00b3ff,
                0 0 400px #00b3ff;
  }
  #{100 / ($num_of_letters + ($iteration_delay / $glow_time))}%, 100%
  {
    color: #111;
    filter: blur(0px);
    text-shadow: none;
  }
}

.neon {
  display: flex;
  flex-direction: column;
}

.w-wrapper {
  padding-bottom: 80px;
}

.neon a{
  text-shadow: 0 0 20px #ff005b;
  color: #fff;
  text-decoration: none;
  position: absolute;
  margin: 0;
  padding: 0 20px;
}

.neon a:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 20px;
}
